In [1]:
!pip install -q transformers accelerate bitsandbytes
!pip install -q datasets
!pip install -q evaluate

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.1/76.1 MB 23.2 MB/s eta 0:00:00:00:0100:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.0/84.0 kB 2.3 MB/s eta 0:00:00

In [2]:
!pip install qq wandb

Collecting qq
  Downloading qq-0.1.11-py3-none-any.whl.metadata (7.2 kB)
Requirement already satisfied: wandb in /usr/local/lib/python3.10/dist-packages (0.19.1)
Requirement already satisfied: requests>=2.31.0 in /usr/local/lib/python3.10/dist-packages (from qq) (2.32.3)
Requirement already satisfied: rich>=13.7.0 in /usr/local/lib/python3.10/dist-packages (from qq) (13.9.4)
Collecting anthropic>=0.18.1 (from qq)
  Downloading anthropic-0.49.0-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: aiohttp>=3.9.3 in /usr/local/lib/python3.10/dist-packages (from qq) (3.11.12)
Requirement already satisfied: colorama>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from qq) (0.4.6)
Requirement already satisfied: pyperclip>=1.8.2 in /usr/local/lib/python3.10/dist-packages (from qq) (1.9.0)
Requirement already satisfied: click!=8.0.0,>=7.1 in /usr/local/lib/python3.10/dist-packages (from wandb) (8.1.7)
Requirement already satisfied: docker-pycreds>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from wandb) (0.4.0)
Requirement already satisfied: gitpython!=3.1.29,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from wandb) (3.1.43)
Requirement already satisfied: platformdirs in /usr/local/lib/python3.10/dist-packages (from wandb) (4.3.6)
Requirement already satisfied: protobuf!=4.21.0,!=5.28.0,<6,>=3.19.0 in /usr/local/lib/python3.10/dist-packages (from wandb) (3.20.3)
Requirement already satisfied: psutil>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from wandb) (5.9.5)
Requirement already satisfied: pydantic<3,>=2.6 in /usr/local/lib/python3.10/dist-packages (from wandb) (2.11.0a2)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from wandb) (6.0.2)
Requirement already satisfied: sentry-sdk>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from wandb) (2.19.2)
Requirement already satisfied: setproctitle in /usr/local/lib/python3.10/dist-packages (from wandb) (1.3.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from wandb) (75.1.0)
Requirement already satisfied: typing-extensions<5,>=4.4 in /usr/local/lib/python3.10/dist-packages (from wandb) (4.12.2)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp>=3.9.3->qq) (2.4.6)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp>=3.9.3->qq) (1.3.2)
Requirement already satisfied: async-timeout<6.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp>=3.9.3->qq) (5.0.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp>=3.9.3->qq) (25.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp>=3.9.3->qq) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp>=3.9.3->qq) (6.1.0)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp>=3.9.3->qq) (0.2.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp>=3.9.3->qq) (1.18.3)
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.10/dist-packages (from anthropic>=0.18.1->qq) (3.7.1)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from anthropic>=0.18.1->qq) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from anthropic>=0.18.1->qq) (0.28.1)
Requirement already satisfied: jiter<1,>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from anthropic>=0.18.1->qq) (0.8.2)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from anthropic>=0.18.1->qq) (1.3.1)
Requirement already satisfied: six>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from docker-pycreds>=0.4.0->wandb) (1.17.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.10/dist-packages (from gitpython!=3.1.29,>=1.0.0->wandb) (4.0.11)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=2.6->wandb) (0.7.0)
Requirement already satisfied: pydantic-core==2.29.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=2.6->wandb) (2.29.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31.0->qq) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31.0->qq) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31.0->qq) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31.0->qq) (2025.1.31)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich>=13.7.0->qq) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich>=13.7.0->qq) (2.19.1)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->anthropic>=0.18.1->qq) (1.2.2)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.29,>=1.0.0->wandb) (5.0.1)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.23.0->anthropic>=0.18.1->qq) (1.0.7)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.10/dist-packages (from httpcore==1.*->httpx<1,>=0.23.0->anthropic>=0.18.1->qq) (0.14.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich>=13.7.0->qq) (0.1.2)
Downloading qq-0.1.11-py3-none-any.whl (74 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 74.5/74.5 kB 2.4 MB/s eta 0:00:00
Downloading anthropic-0.49.0-py3-none-any.whl (243 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 243.4/243.4 kB 7.2 MB/s eta 0:00:00
Installing collected packages: anthropic, qq
Successfully installed anthropic-0.49.0 qq-0.1.11

In [3]:
from peft import PeftModel
from transformers import AutoModelForSeq2SeqLM

base_model = AutoModelForSeq2SeqLM.from_pretrained("google/flan-t5-large")
model = PeftModel.from_pretrained(base_model, "ngocnamk3er/flan-t5-text2sql-lora")

config.json:   0%|          | 0.00/662 [00:00<?, ?B/s]

model.safetensors:   0%|          | 0.00/3.13G [00:00<?, ?B/s]

generation_config.json:   0%|          | 0.00/147 [00:00<?, ?B/s]

adapter_config.json:   0%|          | 0.00/728 [00:00<?, ?B/s]

adapter_model.safetensors:   0%|          | 0.00/37.8M [00:00<?, ?B/s]

In [4]:
from transformers import AutoTokenizer
tokenizer = AutoTokenizer.from_pretrained("google/flan-t5-large")

tokenizer_config.json:   0%|          | 0.00/2.54k [00:00<?, ?B/s]

spiece.model:   0%|          | 0.00/792k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/2.42M [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/2.20k [00:00<?, ?B/s]

In [5]:
import torch

device = "cuda" if torch.cuda.is_available() else "cpu"
model.to(device)

PeftModelForSeq2SeqLM(
  (base_model): LoraModel(
    (model): T5ForConditionalGeneration(
      (shared): Embedding(32128, 1024)
      (encoder): T5Stack(
        (embed_tokens): Embedding(32128, 1024)
        (block): ModuleList(
          (0): T5Block(
            (layer): ModuleList(
              (0): T5LayerSelfAttention(
                (SelfAttention): T5Attention(
                  (q): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (k): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (v): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (o): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (relative_attention_bias): Embedding(32, 16)
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
              (1): T5LayerFF(
                (DenseReluDense): T5DenseGatedActDense(
                  (wi_0): Linear(in_features=1024, out_features=2816, bias=False)
                  (wi_1): Linear(in_features=1024, out_features=2816, bias=False)
                  (wo): Linear(in_features=2816, out_features=1024, bias=False)
                  (dropout): Dropout(p=0.1, inplace=False)
                  (act): NewGELUActivation()
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
            )
          )
          (1-23): 23 x T5Block(
            (layer): ModuleList(
              (0): T5LayerSelfAttention(
                (SelfAttention): T5Attention(
                  (q): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (k): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (v): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (o): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
              (1): T5LayerFF(
                (DenseReluDense): T5DenseGatedActDense(
                  (wi_0): Linear(in_features=1024, out_features=2816, bias=False)
                  (wi_1): Linear(in_features=1024, out_features=2816, bias=False)
                  (wo): Linear(in_features=2816, out_features=1024, bias=False)
                  (dropout): Dropout(p=0.1, inplace=False)
                  (act): NewGELUActivation()
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
            )
          )
        )
        (final_layer_norm): T5LayerNorm()
        (dropout): Dropout(p=0.1, inplace=False)
      )
      (decoder): T5Stack(
        (embed_tokens): Embedding(32128, 1024)
        (block): ModuleList(
          (0): T5Block(
            (layer): ModuleList(
              (0): T5LayerSelfAttention(
                (SelfAttention): T5Attention(
                  (q): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (k): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (v): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (o): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (relative_attention_bias): Embedding(32, 16)
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
              (1): T5LayerCrossAttention(
                (EncDecAttention): T5Attention(
                  (q): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (k): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (v): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (o): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
              (2): T5LayerFF(
                (DenseReluDense): T5DenseGatedActDense(
                  (wi_0): Linear(in_features=1024, out_features=2816, bias=False)
                  (wi_1): Linear(in_features=1024, out_features=2816, bias=False)
                  (wo): Linear(in_features=2816, out_features=1024, bias=False)
                  (dropout): Dropout(p=0.1, inplace=False)
                  (act): NewGELUActivation()
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
            )
          )
          (1-23): 23 x T5Block(
            (layer): ModuleList(
              (0): T5LayerSelfAttention(
                (SelfAttention): T5Attention(
                  (q): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (k): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (v): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (o): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                )
                (layer_norm): T5LayerNorm()
                (dropout): Dropout(p=0.1, inplace=False)
              )
              (1): T5LayerCrossAttention(
                (EncDecAttention): T5Attention(
                  (q): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)
                    )
                    (lora_B): ModuleDict(
                      (default): Linear(in_features=16, out_features=1024, bias=False)
                    )
                    (lora_embedding_A): ParameterDict()
                    (lora_embedding_B): ParameterDict()
                    (lora_magnitude_vector): ModuleDict()
                  )
                  (k): lora.Linear(
                    (base_layer): Linear(in_features=1024, out_features=1024, bias=False)
                    (lora_dropout): ModuleDict(
                      (default): Dropout(p=0.05, inplace=False)
                    )
                    (lora_A): ModuleDict(
                      (default): Linear(in_features=1024, out_features=16, bias=False)

In [6]:
from datasets import load_dataset

# Tải bộ dữ liệu từ Hugging Face
dataset = load_dataset("gretelai/synthetic_text_to_sql")

# Truy cập phần train và test
train_data = dataset['train']
test_data = dataset['test']

# In 2 mẫu đại diện dưới dạng JSON từ phần train và test
import json

# Lấy 2 mẫu đầu tiên từ phần train và test
train_sample = train_data[0]
test_sample = test_data[0]

# In dưới dạng JSON
print("Train Sample:", json.dumps(train_sample, indent=2))
print("Test Sample:", json.dumps(test_sample, indent=2))

README.md:   0%|          | 0.00/8.18k [00:00<?, ?B/s]

(…)nthetic_text_to_sql_train.snappy.parquet:   0%|          | 0.00/32.4M [00:00<?, ?B/s]

(…)ynthetic_text_to_sql_test.snappy.parquet:   0%|          | 0.00/1.90M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/100000 [00:00<?, ? examples/s]

Generating test split:   0%|          | 0/5851 [00:00<?, ? examples/s]

Train Sample: {
  "id": 5097,
  "domain": "forestry",
  "domain_description": "Comprehensive data on sustainable forest management, timber production, wildlife habitat, and carbon sequestration in forestry.",
  "sql_complexity": "single join",
  "sql_complexity_description": "only one join (specify inner, outer, cross)",
  "sql_task_type": "analytics and reporting",
  "sql_task_type_description": "generating reports, dashboards, and analytical insights",
  "sql_prompt": "What is the total volume of timber sold by each salesperson, sorted by salesperson?",
  "sql_context": "CREATE TABLE salesperson (salesperson_id INT, name TEXT, region TEXT); INSERT INTO salesperson (salesperson_id, name, region) VALUES (1, 'John Doe', 'North'), (2, 'Jane Smith', 'South'); CREATE TABLE timber_sales (sales_id INT, salesperson_id INT, volume REAL, sale_date DATE); INSERT INTO timber_sales (sales_id, salesperson_id, volume, sale_date) VALUES (1, 1, 120, '2021-01-01'), (2, 1, 150, '2021-02-01'), (3, 2, 180, '2021-01-01');",
  "sql": "SELECT salesperson_id, name, SUM(volume) as total_volume FROM timber_sales JOIN salesperson ON timber_sales.salesperson_id = salesperson.salesperson_id GROUP BY salesperson_id, name ORDER BY total_volume DESC;",
  "sql_explanation": "Joins timber_sales and salesperson tables, groups sales by salesperson, calculates total volume sold by each salesperson, and orders the results by total volume in descending order."
}
Test Sample: {
  "id": 1,
  "domain": "artificial intelligence",
  "domain_description": "AI data on algorithmic fairness, AI safety, explainable AI, and creative AI applications.",
  "sql_complexity": "basic SQL",
  "sql_complexity_description": "basic SQL with a simple select statement",
  "sql_task_type": "analytics and reporting",
  "sql_task_type_description": "generating reports, dashboards, and analytical insights",
  "sql_prompt": "What is the average explainability score of creative AI applications in 'Europe' and 'North America' in the 'creative_ai' table?",
  "sql_context": "CREATE TABLE creative_ai (application_id INT, name TEXT, region TEXT, explainability_score FLOAT); INSERT INTO creative_ai (application_id, name, region, explainability_score) VALUES (1, 'ApplicationX', 'Europe', 0.87), (2, 'ApplicationY', 'North America', 0.91), (3, 'ApplicationZ', 'Europe', 0.84), (4, 'ApplicationAA', 'North America', 0.93), (5, 'ApplicationAB', 'Europe', 0.89);",
  "sql": "SELECT AVG(explainability_score) FROM creative_ai WHERE region IN ('Europe', 'North America');",
  "sql_explanation": "This SQL query calculates the average explainability score of creative AI applications in 'Europe' and 'North America' in the 'creative_ai' table by using the AVG() function on the 'explainability_score' column, and the WHERE clause to filter records based on the 'region' column."
}

In [7]:
LEFT_INDEX = 0
RIGHT_INDEX = 5851
BATCH_SIZE = 16

In [8]:
references = [
    test_data[idx]['sql'] for idx in range(LEFT_INDEX, RIGHT_INDEX)
]

In [9]:
import re
import json
import torch
from time import time
from torch.utils.data import DataLoader

extracted_sqls_with_context = []
# Định nghĩa dataset từ test_data
class SQLDataset(torch.utils.data.Dataset):
    def __init__(self, dataset, left, right):
        self.dataset = dataset.select(range(left, right)).to_dict()
        self.samples = [dict(zip(self.dataset.keys(), values)) for values in zip(*self.dataset.values())]

    def __len__(self):
        return len(self.samples)

    def __getitem__(self, idx):
        sample = self.samples[idx]
        return "Convert to SQL: " + sample['sql_prompt'] + " Context: " + sample['sql_context']

# Bắt đầu đo thời gian
start_time = time()

# Tạo DataLoader
sql_dataset = SQLDataset(test_data, LEFT_INDEX, RIGHT_INDEX)
dataloader = DataLoader(sql_dataset, batch_size=BATCH_SIZE, shuffle=False)

# Định nghĩa file output
filename = f'format_output_with_context_{LEFT_INDEX}_{RIGHT_INDEX}.jsonl'

total_samples = 0  # Đếm tổng số mẫu

with open(filename, 'w') as json_file:
    for batch_idx, batch_sql_prompts in enumerate(dataloader):
        batch_start_time = time()  # Đo thời gian cho từng batch

        tokenizer.padding_side = "left"
        inputs = tokenizer(batch_sql_prompts, return_tensors="pt", padding=True, truncation=True, max_length=512).to(device)

        # Sinh output từ mô hình
        with torch.no_grad():
          generated_ids = model.generate(
              **inputs,
              max_new_tokens=512,
              pad_token_id=tokenizer.eos_token_id
          )

        # Giải mã output
        generated_sqls = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)


        for idx, generated_sql in enumerate(generated_sqls):
            generated_sql = generated_sql.strip()  # Loại bỏ khoảng trắng hai đầu
            generated_sql = generated_sql.split(';', 1)[0] + ';' if ';' in generated_sql else generated_sql  # Lấy đến dấu ';' đầu tiên
            total_samples += 1
            extracted_sqls_with_context.append(generated_sql)
            result = {'id': LEFT_INDEX + batch_idx * BATCH_SIZE + idx + 1, 'answer': generated_sql}
            json.dump(result, json_file)
            json_file.write("\n")



        batch_end_time = time()
        print(f"⏱️ Batch {batch_idx + 1} processed in {batch_end_time - batch_start_time:.2f} seconds.")

# Kết thúc đo thời gian
end_time = time()
elapsed_time = end_time - start_time

# In ra kết quả
print(f"✅ Data saved to {filename}")
print(f"⏳ Total time taken: {elapsed_time:.2f} seconds")
if total_samples > 0:
    print(f"⏱️ Average time per sample: {elapsed_time / total_samples:.4f} seconds")

⏱️ Batch 1 processed in 6.19 seconds.
⏱️ Batch 2 processed in 3.81 seconds.
⏱️ Batch 3 processed in 5.41 seconds.
⏱️ Batch 4 processed in 28.78 seconds.
⏱️ Batch 5 processed in 30.37 seconds.
⏱️ Batch 6 processed in 29.14 seconds.
⏱️ Batch 7 processed in 4.32 seconds.
⏱️ Batch 8 processed in 7.03 seconds.
⏱️ Batch 9 processed in 11.30 seconds.
⏱️ Batch 10 processed in 6.04 seconds.
⏱️ Batch 11 processed in 4.73 seconds.
⏱️ Batch 12 processed in 27.88 seconds.
⏱️ Batch 13 processed in 6.81 seconds.
⏱️ Batch 14 processed in 6.78 seconds.
⏱️ Batch 15 processed in 28.34 seconds.
⏱️ Batch 16 processed in 5.60 seconds.
⏱️ Batch 17 processed in 28.72 seconds.
⏱️ Batch 18 processed in 4.06 seconds.
⏱️ Batch 19 processed in 5.98 seconds.
⏱️ Batch 20 processed in 4.71 seconds.
⏱️ Batch 21 processed in 7.47 seconds.
⏱️ Batch 22 processed in 4.16 seconds.
⏱️ Batch 23 processed in 5.89 seconds.
⏱️ Batch 24 processed in 5.62 seconds.
⏱️ Batch 25 processed in 18.92 seconds.
⏱️ Batch 26 processed in 5.20 seconds.
⏱️ Batch 27 processed in 6.30 seconds.
⏱️ Batch 28 processed in 6.79 seconds.
⏱️ Batch 29 processed in 5.70 seconds.
⏱️ Batch 30 processed in 5.72 seconds.
⏱️ Batch 31 processed in 28.66 seconds.
⏱️ Batch 32 processed in 5.30 seconds.
⏱️ Batch 33 processed in 4.98 seconds.
⏱️ Batch 34 processed in 27.85 seconds.
⏱️ Batch 35 processed in 5.72 seconds.
⏱️ Batch 36 processed in 4.70 seconds.
⏱️ Batch 37 processed in 28.80 seconds.
⏱️ Batch 38 processed in 3.69 seconds.
⏱️ Batch 39 processed in 28.24 seconds.
⏱️ Batch 40 processed in 5.42 seconds.
⏱️ Batch 41 processed in 4.11 seconds.
⏱️ Batch 42 processed in 4.85 seconds.
⏱️ Batch 43 processed in 29.04 seconds.
⏱️ Batch 44 processed in 5.29 seconds.
⏱️ Batch 45 processed in 5.23 seconds.
⏱️ Batch 46 processed in 28.08 seconds.
⏱️ Batch 47 processed in 5.67 seconds.
⏱️ Batch 48 processed in 5.57 seconds.
⏱️ Batch 49 processed in 28.46 seconds.
⏱️ Batch 50 processed in 4.20 seconds.
⏱️ Batch 51 processed in 29.59 seconds.
⏱️ Batch 52 processed in 8.05 seconds.
⏱️ Batch 53 processed in 5.79 seconds.
⏱️ Batch 54 processed in 27.97 seconds.
⏱️ Batch 55 processed in 5.38 seconds.
⏱️ Batch 56 processed in 4.78 seconds.
⏱️ Batch 57 processed in 5.74 seconds.
⏱️ Batch 58 processed in 6.87 seconds.
⏱️ Batch 59 processed in 4.39 seconds.
⏱️ Batch 60 processed in 6.73 seconds.
⏱️ Batch 61 processed in 31.00 seconds.
⏱️ Batch 62 processed in 5.65 seconds.
⏱️ Batch 63 processed in 5.61 seconds.
⏱️ Batch 64 processed in 5.84 seconds.
⏱️ Batch 65 processed in 6.50 seconds.
⏱️ Batch 66 processed in 6.73 seconds.
⏱️ Batch 67 processed in 3.33 seconds.
⏱️ Batch 68 processed in 5.25 seconds.
⏱️ Batch 69 processed in 7.41 seconds.
⏱️ Batch 70 processed in 27.88 seconds.
⏱️ Batch 71 processed in 6.59 seconds.
⏱️ Batch 72 processed in 3.88 seconds.
⏱️ Batch 73 processed in 6.34 seconds.
⏱️ Batch 74 processed in 28.47 seconds.
⏱️ Batch 75 processed in 4.90 seconds.
⏱️ Batch 76 processed in 5.63 seconds.
⏱️ Batch 77 processed in 4.86 seconds.
⏱️ Batch 78 processed in 28.60 seconds.
⏱️ Batch 79 processed in 6.40 seconds.
⏱️ Batch 80 processed in 4.83 seconds.
⏱️ Batch 81 processed in 30.98 seconds.
⏱️ Batch 82 processed in 28.32 seconds.
⏱️ Batch 83 processed in 6.99 seconds.
⏱️ Batch 84 processed in 8.75 seconds.
⏱️ Batch 85 processed in 6.21 seconds.
⏱️ Batch 86 processed in 4.05 seconds.
⏱️ Batch 87 processed in 5.25 seconds.
⏱️ Batch 88 processed in 29.63 seconds.
⏱️ Batch 89 processed in 31.46 seconds.
⏱️ Batch 90 processed in 28.18 seconds.
⏱️ Batch 91 processed in 29.88 seconds.
⏱️ Batch 92 processed in 6.72 seconds.
⏱️ Batch 93 processed in 27.91 seconds.
⏱️ Batch 94 processed in 5.49 seconds.
⏱️ Batch 95 processed in 5.65 seconds.
⏱️ Batch 96 processed in 5.34 seconds.
⏱️ Batch 97 processed in 4.56 seconds.
⏱️ Batch 98 processed in 6.99 seconds.
⏱️ Batch 99 processed in 4.32 seconds.
⏱️ Batch 100 processed in 4.81 seconds.
⏱️ Batch 101 processed in 29.52 seconds.
⏱️ Batch 102 processed in 5.96 seconds.
⏱️ Batch 103 processed in 4.51 seconds.
⏱️ Batch 104 processed in 27.36 seconds.
⏱️ Batch 105 processed in 6.66 seconds.
⏱️ Batch 106 processed in 6.06 seconds.
⏱️ Batch 107 processed in 4.56 seconds.
⏱️ Batch 108 processed in 6.29 seconds.
⏱️ Batch 109 processed in 5.62 seconds.
⏱️ Batch 110 processed in 28.22 seconds.
⏱️ Batch 111 processed in 6.12 seconds.
⏱️ Batch 112 processed in 6.65 seconds.
⏱️ Batch 113 processed in 5.16 seconds.
⏱️ Batch 114 processed in 7.71 seconds.
⏱️ Batch 115 processed in 5.20 seconds.
⏱️ Batch 116 processed in 6.11 seconds.
⏱️ Batch 117 processed in 6.75 seconds.
⏱️ Batch 118 processed in 5.35 seconds.
⏱️ Batch 119 processed in 8.10 seconds.
⏱️ Batch 120 processed in 5.51 seconds.
⏱️ Batch 121 processed in 5.76 seconds.
⏱️ Batch 122 processed in 5.72 seconds.
⏱️ Batch 123 processed in 4.01 seconds.
⏱️ Batch 124 processed in 5.38 seconds.
⏱️ Batch 125 processed in 28.43 seconds.
⏱️ Batch 126 processed in 28.84 seconds.
⏱️ Batch 127 processed in 3.66 seconds.
⏱️ Batch 128 processed in 5.14 seconds.
⏱️ Batch 129 processed in 6.59 seconds.
⏱️ Batch 130 processed in 29.01 seconds.
⏱️ Batch 131 processed in 30.17 seconds.
⏱️ Batch 132 processed in 27.97 seconds.
⏱️ Batch 133 processed in 6.08 seconds.
⏱️ Batch 134 processed in 6.58 seconds.
⏱️ Batch 135 processed in 5.29 seconds.
⏱️ Batch 136 processed in 6.61 seconds.
⏱️ Batch 137 processed in 4.47 seconds.
⏱️ Batch 138 processed in 5.67 seconds.
⏱️ Batch 139 processed in 5.45 seconds.
⏱️ Batch 140 processed in 5.18 seconds.
⏱️ Batch 141 processed in 4.78 seconds.
⏱️ Batch 142 processed in 29.10 seconds.
⏱️ Batch 143 processed in 28.20 seconds.
⏱️ Batch 144 processed in 30.55 seconds.
⏱️ Batch 145 processed in 4.77 seconds.
⏱️ Batch 146 processed in 4.71 seconds.
⏱️ Batch 147 processed in 6.10 seconds.
⏱️ Batch 148 processed in 29.43 seconds.
⏱️ Batch 149 processed in 5.52 seconds.
⏱️ Batch 150 processed in 7.65 seconds.
⏱️ Batch 151 processed in 28.66 seconds.
⏱️ Batch 152 processed in 5.77 seconds.
⏱️ Batch 153 processed in 5.20 seconds.
⏱️ Batch 154 processed in 6.27 seconds.
⏱️ Batch 155 processed in 28.07 seconds.
⏱️ Batch 156 processed in 30.21 seconds.
⏱️ Batch 157 processed in 4.96 seconds.
⏱️ Batch 158 processed in 5.38 seconds.
⏱️ Batch 159 processed in 5.69 seconds.
⏱️ Batch 160 processed in 5.87 seconds.
⏱️ Batch 161 processed in 6.82 seconds.
⏱️ Batch 162 processed in 6.21 seconds.
⏱️ Batch 163 processed in 29.04 seconds.
⏱️ Batch 164 processed in 5.03 seconds.
⏱️ Batch 165 processed in 5.75 seconds.
⏱️ Batch 166 processed in 5.37 seconds.
⏱️ Batch 167 processed in 5.04 seconds.
⏱️ Batch 168 processed in 5.10 seconds.
⏱️ Batch 169 processed in 6.16 seconds.
⏱️ Batch 170 processed in 6.96 seconds.
⏱️ Batch 171 processed in 4.63 seconds.
⏱️ Batch 172 processed in 7.88 seconds.
⏱️ Batch 173 processed in 31.20 seconds.
⏱️ Batch 174 processed in 6.37 seconds.
⏱️ Batch 175 processed in 6.04 seconds.
⏱️ Batch 176 processed in 5.27 seconds.
⏱️ Batch 177 processed in 4.98 seconds.
⏱️ Batch 178 processed in 6.50 seconds.
⏱️ Batch 179 processed in 27.71 seconds.
⏱️ Batch 180 processed in 5.23 seconds.
⏱️ Batch 181 processed in 30.58 seconds.
⏱️ Batch 182 processed in 5.49 seconds.
⏱️ Batch 183 processed in 7.10 seconds.
⏱️ Batch 184 processed in 5.32 seconds.
⏱️ Batch 185 processed in 5.44 seconds.
⏱️ Batch 186 processed in 28.65 seconds.
⏱️ Batch 187 processed in 4.91 seconds.
⏱️ Batch 188 processed in 5.51 seconds.
⏱️ Batch 189 processed in 4.44 seconds.
⏱️ Batch 190 processed in 4.98 seconds.
⏱️ Batch 191 processed in 5.68 seconds.
⏱️ Batch 192 processed in 5.23 seconds.
⏱️ Batch 193 processed in 7.17 seconds.
⏱️ Batch 194 processed in 4.85 seconds.
⏱️ Batch 195 processed in 4.77 seconds.
⏱️ Batch 196 processed in 4.67 seconds.
⏱️ Batch 197 processed in 5.38 seconds.
⏱️ Batch 198 processed in 29.91 seconds.
⏱️ Batch 199 processed in 5.64 seconds.
⏱️ Batch 200 processed in 8.45 seconds.
⏱️ Batch 201 processed in 7.00 seconds.
⏱️ Batch 202 processed in 28.66 seconds.
⏱️ Batch 203 processed in 5.21 seconds.
⏱️ Batch 204 processed in 5.97 seconds.
⏱️ Batch 205 processed in 6.24 seconds.
⏱️ Batch 206 processed in 6.12 seconds.
⏱️ Batch 207 processed in 6.31 seconds.
⏱️ Batch 208 processed in 4.51 seconds.
⏱️ Batch 209 processed in 6.86 seconds.
⏱️ Batch 210 processed in 29.18 seconds.
⏱️ Batch 211 processed in 29.42 seconds.
⏱️ Batch 212 processed in 5.61 seconds.
⏱️ Batch 213 processed in 7.02 seconds.
⏱️ Batch 214 processed in 30.07 seconds.
⏱️ Batch 215 processed in 31.53 seconds.
⏱️ Batch 216 processed in 5.48 seconds.
⏱️ Batch 217 processed in 5.96 seconds.
⏱️ Batch 218 processed in 4.96 seconds.
⏱️ Batch 219 processed in 9.21 seconds.
⏱️ Batch 220 processed in 28.57 seconds.
⏱️ Batch 221 processed in 29.15 seconds.
⏱️ Batch 222 processed in 7.60 seconds.
⏱️ Batch 223 processed in 5.29 seconds.
⏱️ Batch 224 processed in 27.73 seconds.
⏱️ Batch 225 processed in 5.67 seconds.
⏱️ Batch 226 processed in 30.41 seconds.
⏱️ Batch 227 processed in 28.30 seconds.
⏱️ Batch 228 processed in 5.73 seconds.
⏱️ Batch 229 processed in 6.07 seconds.
⏱️ Batch 230 processed in 29.78 seconds.
⏱️ Batch 231 processed in 5.32 seconds.
⏱️ Batch 232 processed in 5.26 seconds.
⏱️ Batch 233 processed in 5.27 seconds.
⏱️ Batch 234 processed in 28.05 seconds.
⏱️ Batch 235 processed in 27.53 seconds.
⏱️ Batch 236 processed in 4.41 seconds.
⏱️ Batch 237 processed in 29.48 seconds.
⏱️ Batch 238 processed in 5.84 seconds.
⏱️ Batch 239 processed in 28.01 seconds.
⏱️ Batch 240 processed in 5.55 seconds.
⏱️ Batch 241 processed in 6.18 seconds.
⏱️ Batch 242 processed in 5.01 seconds.
⏱️ Batch 243 processed in 5.21 seconds.
⏱️ Batch 244 processed in 4.17 seconds.
⏱️ Batch 245 processed in 7.31 seconds.
⏱️ Batch 246 processed in 29.46 seconds.
⏱️ Batch 247 processed in 6.65 seconds.
⏱️ Batch 248 processed in 4.96 seconds.
⏱️ Batch 249 processed in 6.07 seconds.
⏱️ Batch 250 processed in 6.29 seconds.
⏱️ Batch 251 processed in 5.39 seconds.
⏱️ Batch 252 processed in 28.49 seconds.
⏱️ Batch 253 processed in 7.08 seconds.
⏱️ Batch 254 processed in 28.37 seconds.
⏱️ Batch 255 processed in 28.27 seconds.
⏱️ Batch 256 processed in 5.07 seconds.
⏱️ Batch 257 processed in 28.29 seconds.
⏱️ Batch 258 processed in 7.74 seconds.
⏱️ Batch 259 processed in 5.63 seconds.
⏱️ Batch 260 processed in 5.57 seconds.
⏱️ Batch 261 processed in 4.70 seconds.
⏱️ Batch 262 processed in 5.48 seconds.
⏱️ Batch 263 processed in 6.57 seconds.
⏱️ Batch 264 processed in 7.55 seconds.
⏱️ Batch 265 processed in 4.63 seconds.
⏱️ Batch 266 processed in 8.33 seconds.
⏱️ Batch 267 processed in 4.73 seconds.
⏱️ Batch 268 processed in 31.81 seconds.
⏱️ Batch 269 processed in 6.29 seconds.
⏱️ Batch 270 processed in 5.75 seconds.
⏱️ Batch 271 processed in 6.30 seconds.
⏱️ Batch 272 processed in 5.91 seconds.
⏱️ Batch 273 processed in 4.58 seconds.
⏱️ Batch 274 processed in 27.89 seconds.
⏱️ Batch 275 processed in 5.66 seconds.
⏱️ Batch 276 processed in 4.90 seconds.
⏱️ Batch 277 processed in 4.22 seconds.
⏱️ Batch 278 processed in 28.96 seconds.
⏱️ Batch 279 processed in 6.87 seconds.
⏱️ Batch 280 processed in 7.25 seconds.
⏱️ Batch 281 processed in 29.06 seconds.
⏱️ Batch 282 processed in 27.70 seconds.
⏱️ Batch 283 processed in 7.46 seconds.
⏱️ Batch 284 processed in 5.13 seconds.
⏱️ Batch 285 processed in 5.24 seconds.
⏱️ Batch 286 processed in 4.30 seconds.
⏱️ Batch 287 processed in 5.00 seconds.
⏱️ Batch 288 processed in 3.90 seconds.
⏱️ Batch 289 processed in 5.41 seconds.
⏱️ Batch 290 processed in 4.68 seconds.
⏱️ Batch 291 processed in 27.60 seconds.
⏱️ Batch 292 processed in 4.47 seconds.
⏱️ Batch 293 processed in 6.05 seconds.
⏱️ Batch 294 processed in 4.46 seconds.
⏱️ Batch 295 processed in 6.46 seconds.
⏱️ Batch 296 processed in 9.35 seconds.
⏱️ Batch 297 processed in 6.81 seconds.
⏱️ Batch 298 processed in 5.74 seconds.
⏱️ Batch 299 processed in 5.40 seconds.
⏱️ Batch 300 processed in 28.37 seconds.
⏱️ Batch 301 processed in 27.68 seconds.
⏱️ Batch 302 processed in 4.65 seconds.
⏱️ Batch 303 processed in 27.64 seconds.
⏱️ Batch 304 processed in 6.20 seconds.
⏱️ Batch 305 processed in 4.29 seconds.
⏱️ Batch 306 processed in 5.02 seconds.
⏱️ Batch 307 processed in 31.00 seconds.
⏱️ Batch 308 processed in 4.59 seconds.
⏱️ Batch 309 processed in 28.37 seconds.
⏱️ Batch 310 processed in 4.31 seconds.
⏱️ Batch 311 processed in 29.75 seconds.
⏱️ Batch 312 processed in 5.10 seconds.
⏱️ Batch 313 processed in 28.18 seconds.
⏱️ Batch 314 processed in 5.09 seconds.
⏱️ Batch 315 processed in 28.87 seconds.
⏱️ Batch 316 processed in 5.90 seconds.
⏱️ Batch 317 processed in 8.17 seconds.
⏱️ Batch 318 processed in 28.96 seconds.
⏱️ Batch 319 processed in 6.80 seconds.
⏱️ Batch 320 processed in 27.92 seconds.
⏱️ Batch 321 processed in 6.27 seconds.
⏱️ Batch 322 processed in 6.11 seconds.
⏱️ Batch 323 processed in 5.56 seconds.
⏱️ Batch 324 processed in 30.30 seconds.
⏱️ Batch 325 processed in 6.46 seconds.
⏱️ Batch 326 processed in 28.24 seconds.
⏱️ Batch 327 processed in 28.99 seconds.
⏱️ Batch 328 processed in 9.07 seconds.
⏱️ Batch 329 processed in 4.66 seconds.
⏱️ Batch 330 processed in 4.72 seconds.
⏱️ Batch 331 processed in 31.44 seconds.
⏱️ Batch 332 processed in 7.25 seconds.
⏱️ Batch 333 processed in 6.46 seconds.
⏱️ Batch 334 processed in 3.87 seconds.
⏱️ Batch 335 processed in 6.35 seconds.
⏱️ Batch 336 processed in 30.99 seconds.
⏱️ Batch 337 processed in 28.87 seconds.
⏱️ Batch 338 processed in 5.59 seconds.
⏱️ Batch 339 processed in 6.11 seconds.
⏱️ Batch 340 processed in 6.97 seconds.
⏱️ Batch 341 processed in 5.20 seconds.
⏱️ Batch 342 processed in 5.27 seconds.
⏱️ Batch 343 processed in 6.66 seconds.
⏱️ Batch 344 processed in 5.84 seconds.
⏱️ Batch 345 processed in 6.19 seconds.
⏱️ Batch 346 processed in 4.01 seconds.
⏱️ Batch 347 processed in 31.22 seconds.
⏱️ Batch 348 processed in 29.19 seconds.
⏱️ Batch 349 processed in 6.55 seconds.
⏱️ Batch 350 processed in 5.86 seconds.
⏱️ Batch 351 processed in 4.68 seconds.
⏱️ Batch 352 processed in 4.32 seconds.
⏱️ Batch 353 processed in 5.31 seconds.
⏱️ Batch 354 processed in 5.44 seconds.
⏱️ Batch 355 processed in 29.94 seconds.
⏱️ Batch 356 processed in 28.01 seconds.
⏱️ Batch 357 processed in 30.66 seconds.
⏱️ Batch 358 processed in 5.89 seconds.
⏱️ Batch 359 processed in 5.12 seconds.
⏱️ Batch 360 processed in 4.90 seconds.
⏱️ Batch 361 processed in 30.01 seconds.
⏱️ Batch 362 processed in 6.80 seconds.
⏱️ Batch 363 processed in 5.82 seconds.
⏱️ Batch 364 processed in 6.34 seconds.
⏱️ Batch 365 processed in 4.98 seconds.
⏱️ Batch 366 processed in 4.47 seconds.
✅ Data saved to format_output_with_context_0_5851.jsonl
⏳ Total time taken: 4324.00 seconds
⏱️ Average time per sample: 0.7390 seconds

In [10]:
extracted_sqls_with_context

["SELECT AVG(explainability_score) FROM creative_ai WHERE region IN ('Europe', 'North America');",
 "DELETE FROM rural_infrastructure WHERE country = 'Indonesia' AND completion_date  2010;",
 "SELECT COUNT(*) FROM Accidents WHERE launch_provider IN ('SpaceX', 'Blue Origin');",
 'SELECT MAX(quantity) FROM sales;',
 'SELECT SUM(budget) FROM Movies_Release_Year WHERE release_year  2010;',
 "INSERT INTO attorneys (attorney_id, attorney_name, attorney_email, attorney_phone) VALUES ('Oliver Martinez', 'oliver.martinez@lawfirm.com', 555-555-5678);",
 'SELECT plant_name, COUNT(*) as total_emissions FROM co2_emissions GROUP BY plant_name ORDER BY total_emissions DESC LIMIT 2;',
 "SELECT SUM(total_cost) FROM climate_communication WHERE location = 'Antarctica' AND start_date >= DATE_SUB(CURRENT_DATE, INTERVAL 1 YEAR) AND end_date  DATE_SUB(CURRENT_DATE, INTERVAL 1 YEAR);",
 'SELECT name, conservation_status FROM marine_species;',
 "SELECT AVG(publications) FROM researchers WHERE organization = 'National Geographic';",
 "SELECT COUNT(*) FROM dapp_ranking WHERE dapp_region = 'Asia-Pacific';",
 "SELECT name FROM forests WHERE country IN ('Canada', 'USA');",
 "SELECT MAX(response_time) FROM emergency_calls WHERE city = 'Los Angeles';",
 "SELECT district_id, COUNT(*) as total_police_patrols, COUNT(*) as total_community_engagement_events FROM patrols WHERE date BETWEEN '2021-01-01' AND '2021-02-31' GROUP BY district_id;",
 "SELECT AVG(value) FROM contracts WHERE category = 'Cybersecurity';",
 'DELETE FROM arms_imports WHERE year  2000;',
 'SELECT country, AVG(military_personnel) FROM Peacekeeping_Operations GROUP BY country;',
 'SELECT client_id, MAX(investment) FROM daily_investments GROUP BY client_id;',
 "SELECT PortName, SUM(Width) FROM CARGO_HANDLING WHERE CargoType = 'Fruit';",
 'SELECT container_type, MIN(fuel_consumption) FROM container_ships WHERE year = 2016 GROUP BY container_type;',
 "SELECT county, SUM(prevalence) as total_prevalence FROM asthma WHERE age = '0' GROUP BY county ORDER BY total_prevalence DESC LIMIT 1;",
 "SELECT region, SUM(amount) FROM investments WHERE sector = 'Healthcare' GROUP BY region;",
 'SELECT operation_name, primary_objective, personnel_count FROM intelligence_operations WHERE operation_date >= DATE_SUB(CURRENT_DATE, INTERVAL 5 YEAR);',
 "SELECT COUNT(*) FROM Donors WHERE region = 'South West';",
 'SELECT ProgramName, SUM(DonationAmount) FROM Donations JOIN Programs ON Donations.ProgramID = Programs.ProgramID GROUP BY ProgramName;',
 "SELECT AVG(DonationAmount) FROM Donations WHERE DonationDate BETWEEN '2022-01-01' AND '2022-03-01';",
 "INSERT INTO students (student_id, district_id, mental_health_score) VALUES (1, 'Average Mental Health Score', '5');",
 'SELECT Courses.Name FROM Courses INNER JOIN Students ON Courses.CourseID = Students.StudentID WHERE Students.GradeLevel = 12 AND Courses.OpenPedagogy = FALSE;',
 "SELECT Department, AVG(Salary) FROM Employees WHERE HireDate >= '2022-01-01' GROUP BY Department;",
 "SELECT COUNT(*) FROM wind_farms WHERE country = 'Canada' AND installation_year BETWEEN 2015 AND 2018;",
 "SELECT name FROM renewable_project WHERE country = 'India' AND budget BETWEEN 50 AND 200;",
 "SELECT AVG(price) FROM carbon_prices WHERE market = 'EU ETS' AND date >= DATE_SUB(CURRENT_DATE, INTERVAL 6 MONTH);",
 "SELECT AVG(energy_rating) FROM energy_efficiency WHERE building_type = 'Commercial' AND location = 'Texas';",
 "DELETE FROM oil_rig WHERE company = 'XYZ Inc.';",
 'SELECT player, AVG(running_speed) FROM world_cup WHERE match_id = 2020 GROUP BY player;',
 "SELECT MAX(assists) FROM season_stats WHERE player_id IN (SELECT player_id FROM player_id WHERE country = 'Europe');",
 "SELECT SUM(points) FROM players WHERE country = 'Brazil';",
 "SELECT organization_id, COUNT(*) as total_supplies, SUM(supply_cost) as total_cost FROM medical_supplies WHERE location = 'Country A' AND distribution_date >= DATE_SUB(CURRENT_DATE, INTERVAL 3 YEAR) GROUP BY organization_id;",
 "SELECT COUNT(*) FROM ngos WHERE country = 'Yemen' AND name = 'NGO 1';",
 "SELECT brand_id, COUNT(*) as num_products FROM certifications WHERE certification_name = 'Fair trade' GROUP BY brand_id ORDER BY num_products DESC LIMIT 1;",
 "SELECT SUM(revenue) FROM Sales WHERE material = 'Organic Cotton';",
 'SELECT name, total_transactions FROM shariah_compliant_institutions;',
 "SELECT COUNT(*) FROM genetic_research WHERE location = 'United Kingdom' AND start_date >= DATE_SUB(CURRENT_DATE, INTERVAL 1 YEAR) AND end_date  DATE_SUB(CURRENT_DATE, INTERVAL 1 YEAR);",
 "SELECT COUNT(*) FROM faculty WHERE department = 'Physics' AND gender = 'Female';",
 'SELECT HotelName, AVG(Revenue) as AvgRevenue FROM Hotels INNER JOIN Bookings ON Hotels.HotelID = Bookings.HotelID WHERE Hotels.QuarterLY(Q2+Year) = 2022 GROUP BY HotelName;',
 "SELECT MONTH(date) as month, MAX(temperature) as max_temperature FROM arctic_weather WHERE species = 'species' GROUP BY month;",
 'SELECT Category, AVG(Reviews) as AvgReviews FROM HeritageSitesReviews GROUP BY Category;',
 'SELECT initiative, COUNT(*) as initiative_count FROM language_preservation_by_initiative GROUP BY initiative;',
 'SELECT patient_id FROM patients WHERE session_date >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_date = DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_date >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETD',
 "SELECT therapists.name, therapists.treatment_approach FROM therapists INNER JOIN patients ON therapists.patient_id = patients.patient_id WHERE patients.condition = 'depression' AND patients.age > 50;",
 "SELECT COUNT(*) FROM patients p JOIN treatments t ON p.patient_id = t.id WHERE p.country = 'India' AND t.treatment = 'Group Therapy';",
 "SELECT COUNT(*) FROM Infrastructure WHERE location = 'California' AND is_public_works = TRUE;",
 'SELECT location, AVG(completion_date) as avg_completion_time FROM public_works GROUP BY location;',
 'SELECT gender, race, SUM(reoffender) as percentage FROM parolee WHERE year BETWEEN 2017 AND 2018 GROUP BY gender, race;',
 'SELECT district_id, SUM(cases) as total_cases FROM restorative_justice GROUP BY district_id;',
 'SELECT species, SUM(biomass) as total_biomass FROM biomass GROUP BY species ORDER BY depth DESC LIMIT 1;',
 'SELECT Director, AVG(Rating) FROM DirectorMoviesRating GROUP BY Director;',
 "SELECT AVG(rating) FROM movies WHERE country = 'USA' AND production_year BETWEEN 2010 AND 2020;",
 "SELECT SUM(quantity) FROM GlobalDefense.AircraftSales WHERE buyer_country = 'Canada';",
 "UPDATE resource_depletion SET resource_depletion_rate = 0.0 WHERE mine_id = 'Aquamarine Arch' AND year = 2016;",
 'SELECT plan_name FROM mobile_plans WHERE data_limit > AVG(data_limit);',
 "SELECT COUNT(*) FROM news WHERE region = 'region1';",
 "SELECT AVG(word_count) FROM news WHERE category = 'Opinion';",
 'SELECT mission_area, COUNT(*) as total_donations FROM Organizations GROUP BY mission_area;',
 "SELECT SUM(PrizeMoney) FROM EsportsEvents JOIN Games ON EsportsEvents.EventID = Games.EventID WHERE Games.Genre = 'Simulation';",
 "SELECT COUNT(*) FROM farm_automation WHERE automation_date >= DATE_SUB(CURRENT_DATE, INTERVAL 1 YEAR) AND country = 'Nigeria';",
 'SELECT Region, Service, RANK() OVER (ORDER BY Service DESC) as Rank FROM HealthcareServices GROUP BY Region;',
 "SELECT parks.park_name FROM parks INNER JOIN areas ON parks.area_id = areas.area_id WHERE areas.area_type = 'urban';",
 "SELECT SUM(quantity) FROM production WHERE element = 'Neodymium' AND year = 2020 AND region = 'APAC';",
 'SELECT quarter, affordability FROM portland_housing WHERE quarter = 2 AND affordability  80;',
 "SELECT name, SUM(revenue) as total_revenue, SUM(risk_score) as risk_score FROM restaurants r JOIN menu_items mi ON r.id = mi.restaurant_id WHERE r.category = 'Fine Dining' GROUP BY name;",
 "SELECT SUM(quantity) FROM sales WHERE product_category = 'Apparel' AND year = 2021;",
 'SELECT source_type, MAX(size) as max_size, MIN(size) as min_size FROM space_debris GROUP BY source_type;',
 'SELECT name, description FROM cybersecurity_policies WHERE date >= DATEADD(week, -1, GETDATE());',
 'SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_inci',
 "SELECT COUNT(*) FROM multimodal_trips_canada WHERE city = 'Toronto' AND mode = 'public transportation';",
 'SELECT unions.name FROM unions INNER JOIN injuries ON unions.id = injuries.union_id WHERE injuries.id NOT IN (SELECT union_id FROM unions);',
 "SELECT COUNT(*) FROM Unions WHERE Sector = 'Education' AND Membership > 5000;",
 "SELECT MAX(wage) FROM workers WHERE industry = 'retail';",
 "SELECT AVG(travel_time) FROM VesselTravel WHERE route IN ('Valparaiso', 'Singapore') AND departure_date BETWEEN '2021-01-01' AND '2021-06-01';",
 "SELECT COUNT(*) FROM Vessels JOIN PortCalls ON Vessels.id = PortCalls.vessel_id WHERE PortCalls.port = 'PortA' AND call_date >= DATEADD(month, -1, GETDATE()) GROUP BY Vessels.id;",
 'SELECT region, AVG(tipping_fee) FROM Landfill_All GROUP BY region;',
 "UPDATE wastewater_plants SET capacity = 0 WHERE name = 'Wastewater Plant';",
 "SELECT fairness_score, ROW_NUMBER() OVER (ORDER BY fairness_score DESC) as row_number FROM CreativeAI WHERE region = 'Europe' GROUP BY fairness_score ORDER BY ROW_NUMBER() DESC;",
 "SELECT fairness_score, a.application_name, a.region FROM CreativeAI a JOIN applications a ON a.application_name = a.application_name WHERE a.region = 'Oceania' GROUP BY fairness_score ORDER BY a.region;",
 "SELECT AVG(safety_score) FROM creative_ai WHERE country IN ('France', 'Germany', 'Spain');",
 "SELECT continent, AVG(satisfaction) FROM models WHERE dataset = 'datasetD' AND satisfaction = 'datasetC' GROUP BY continent;",
 "SELECT MAX(crop_yield) FROM crop_yields WHERE region = 'South America' AND year = 2021;",
 "SELECT name, launch_date FROM Satellite WHERE type = 'Navigation';",
 'SELECT conservation_area, state, AVG(funding) as avg_funding_per_square_kilometer FROM north_american_conservation_areas GROUP BY conservation_area, state;',
 'SELECT Country, Programs, SUM(Success) as TotalPrograms FROM CountryPrograms GROUP BY Country ORDER BY TotalPrograms DESC;',
 'SELECT SUM(nutrients) FROM feeding;',
 'SELECT AVG(Attendances.visits) FROM Attendees INNER JOIN MuseumY ON Attendees.attendee_id = MuseumY.attendee_id WHERE MuseumY.visit_date >= DATEADD(year, -1, GETDATE()) GROUP BY Attendees.attendee_id;',
 "SELECT SongName, Streams, MAX(Streams) as MaxStreams, MIN(Streams) as MinStreams FROM Music GROUP BY SongName, Streams GROUP BY SongName, Streams HAVING Genre = 'Pop' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY Song",
 "SELECT SUM(cost) FROM construction_labor WHERE state = 'Georgia' AND job = 'Plumber';",
 'SELECT Country, Year, SUM(Rainfall) as TotalRainfall FROM RainfallData GROUP BY Country, Year;',
 "SELECT AVG(amount) FROM org_climate_finance WHERE region IN ('americas', 'europe');",
 'DELETE FROM rd_expenditures WHERE amount > 100000 AND quarter = 1;',
 "SELECT AVG(Score) FROM HealthcareAccessScore WHERE Area = 'Urban' AND Year = 2018;",
 "SELECT COUNT(*) FROM HealthcareAccess WHERE Gender = 'Male' AND AccessDate >= DATEADD(month, -1, GETDATE());",
 'SELECT investment_year, industry, SUM(investment_amount) FROM investments GROUP BY investment_year, industry;',
 "UPDATE policy_advocacy_budget SET budget = 500000 WHERE community = 'Native American' AND state = 'California';",
 'SELECT location, COUNT(*) FROM whale_sharks GROUP BY location;',
 'SELECT country, AVG(avg_depth) FROM marine_protected_areas GROUP BY country;',
 "SELECT SUM(transaction_count) FROM digital_assets WHERE asset_name = 'ETH' AND date = '2019-01-01';",
 "SELECT COUNT(*) FROM MakeupSales WHERE is_vegan = true AND country = 'India' AND sale_date BETWEEN '2022-01-01' AND '2022-12-31';",
 "SELECT SUM(revenue) FROM SkincareSales WHERE region = 'North America' AND organic = false;",
 "SELECT MAX(ticket_sales) FROM EventData WHERE city = 'Tokyo';",
 'SELECT Contract_Name, SUM(Value) as TotalValue FROM Defense_Contracts GROUP BY Contract_Name ORDER BY TotalValue DESC LIMIT 1;',
 'SELECT country_id, COUNT(*) FROM peacekeeping_operations WHERE quarter = 3 AND year = 2018 GROUP BY country_id;',
 'SELECT transaction_id, transaction_value, transaction_date FROM transactions WHERE transaction_value > 10000 GROUP BY transaction_id, transaction_date;',
 'SELECT strategy_name, AVG(account_balance) as avg_balance FROM customers GROUP BY strategy_name;',
 "SELECT COUNT(*) FROM accounts_by_region WHERE region = 'Northwest' AND risk_level = 'high';",
 "SELECT p.name, AVG(c.weight) FROM vessel_cargo v JOIN ports p ON v.port_id = p.id WHERE p.type = 'Bulk Carrier' GROUP BY p.name;",
 "SELECT port, SUM(weight) FROM cargo_handling WHERE date BETWEEN '2022-02-01' AND '2022-02-12' GROUP BY port;",
 'SELECT AVG(salary) FROM employees e INNER JOIN factories f ON e.factory_id = f.factory_id WHERE f.certified = TRUE;',
 'SELECT MIN(avg_age), MAX(avg_age) FROM rural_hospitals;',
 'SELECT platform, COUNT(DISTINCT user_id) as unique_users FROM platform_users_africa GROUP BY platform;',
 'SELECT grades.grade_name, AVG(student_mental_health.mental_health_score) as avg_mental_health_score FROM grades INNER JOIN student_mental_health ON grades.grade_id = student_mental_health.grade_id GROUP BY grades.grade_name ORDER BY avg_mental_health_score DESC LIMIT 1;',
 "SELECT COUNT(*) FROM power_plants WHERE state = 'Texas' AND source_type = 'Wind';",
 "SELECT MAX(capacity) FROM solar_capacity WHERE country = 'Mexico';",
 "SELECT COUNT(*) FROM wells WHERE company = 'CompanyA';",
 'SELECT hp.name, AVG(hp.points) as avg_points FROM hockey_players hp JOIN nhl_teams n ON hp.id = nhl_teams.player_id GROUP BY hp.name;',
 "SELECT DISTINCT project_name FROM accessibility.research WHERE region = 'EU' AND region = 'Africa';",
 "UPDATE students SET registration_date = '2021-10-01' WHERE name = 'Sofia Garcia';",
 'SELECT country, AVG(price) as avg_price FROM eco_materials GROUP BY country;',
 "SELECT Materials.material FROM Materials INNER JOIN Companies ON Materials.company_id = Companies.id WHERE Companies.region = 'Asia-Pacific';",
 "SELECT product_name FROM shariah_compliant_products WHERE region = 'Southeast Asia';",
 'SELECT shariah_mortgages.customer_name, socially_responsible_loans.customer_name, SUM(shariah_mortgages.account_balance) FROM shariah_mortgages INNER JOIN socially_responsible_loans ON shariah_mortgages.mortgage_id = socially_responsible_loans.mortgage_id INNER JOIN shariah_loans ON shariah_mortgages.mortgage_id = shariah_loans.mortgage_id GROUP BY shariah_mortgages.customer_name;',
 "SELECT COUNT(*) FROM volunteers WHERE region = 'Africa';",
 "SELECT supplier_name FROM FoodSuppliers WHERE country = 'India' AND delivery_incidents > 3 AND last_delivery_date >= DATEADD(month, -6, GETDATE());",
 "SELECT SUM(num_initiatives) FROM open_data WHERE country IN ('Nigeria', 'South Africa') AND year = 2018;",
 "SELECT name, SUM(amount) as total_amount FROM donors WHERE city = 'Chicago' GROUP BY name ORDER BY total_amount DESC LIMIT 3;",
 "SELECT author, COUNT(*) as num_citations FROM authors JOIN publications ON authors.id = publications.author WHERE department = 'Mathematics' AND year BETWEEN 2021 AND 2022 GROUP BY author ORDER BY num_citations DESC LIMIT 3;",
 'SELECT country, AVG(capacity) as avg_capacity FROM renewable_energy_projects GROUP BY country;',
 "SELECT site_name, visitor_count FROM cultural_heritage_sites WHERE country = 'Japan' GROUP BY site_name ORDER BY visitor_count DESC LIMIT 1;",
 "SELECT COUNT(*) FROM tunnels WHERE state = 'WA' AND build_year > 2010;",
 "SELECT Project_Type, AVG(Resilience_Score) FROM Infrastructure_Projects WHERE Year = 2021 AND State = 'Texas' GROUP BY Project_Type;",
 "SELECT SUM(cost) FROM Infrastructure_Projects WHERE state = 'California';",
 'SELECT name, num_tools FROM justice_schemas.legal_tech_providers;',
 'DELETE FROM ocean_pollution WHERE pollution_date > 10;',

In [11]:
for x in extracted_sqls_with_context:
  print(x)
  print("--------------")

SELECT AVG(explainability_score) FROM creative_ai WHERE region IN ('Europe', 'North America');
--------------
DELETE FROM rural_infrastructure WHERE country = 'Indonesia' AND completion_date  2010;
--------------
SELECT COUNT(*) FROM Accidents WHERE launch_provider IN ('SpaceX', 'Blue Origin');
--------------
SELECT MAX(quantity) FROM sales;
--------------
SELECT SUM(budget) FROM Movies_Release_Year WHERE release_year  2010;
--------------
INSERT INTO attorneys (attorney_id, attorney_name, attorney_email, attorney_phone) VALUES ('Oliver Martinez', 'oliver.martinez@lawfirm.com', 555-555-5678);
--------------
SELECT plant_name, COUNT(*) as total_emissions FROM co2_emissions GROUP BY plant_name ORDER BY total_emissions DESC LIMIT 2;
--------------
SELECT SUM(total_cost) FROM climate_communication WHERE location = 'Antarctica' AND start_date >= DATE_SUB(CURRENT_DATE, INTERVAL 1 YEAR) AND end_date  DATE_SUB(CURRENT_DATE, INTERVAL 1 YEAR);
--------------
SELECT name, conservation_status FROM marine_species;
--------------
SELECT AVG(publications) FROM researchers WHERE organization = 'National Geographic';
--------------
SELECT COUNT(*) FROM dapp_ranking WHERE dapp_region = 'Asia-Pacific';
--------------
SELECT name FROM forests WHERE country IN ('Canada', 'USA');
--------------
SELECT MAX(response_time) FROM emergency_calls WHERE city = 'Los Angeles';
--------------
SELECT district_id, COUNT(*) as total_police_patrols, COUNT(*) as total_community_engagement_events FROM patrols WHERE date BETWEEN '2021-01-01' AND '2021-02-31' GROUP BY district_id;
--------------
SELECT AVG(value) FROM contracts WHERE category = 'Cybersecurity';
--------------
DELETE FROM arms_imports WHERE year  2000;
--------------
SELECT country, AVG(military_personnel) FROM Peacekeeping_Operations GROUP BY country;
--------------
SELECT client_id, MAX(investment) FROM daily_investments GROUP BY client_id;
--------------
SELECT PortName, SUM(Width) FROM CARGO_HANDLING WHERE CargoType = 'Fruit';
--------------
SELECT container_type, MIN(fuel_consumption) FROM container_ships WHERE year = 2016 GROUP BY container_type;
--------------
SELECT county, SUM(prevalence) as total_prevalence FROM asthma WHERE age = '0' GROUP BY county ORDER BY total_prevalence DESC LIMIT 1;
--------------
SELECT region, SUM(amount) FROM investments WHERE sector = 'Healthcare' GROUP BY region;
--------------
SELECT operation_name, primary_objective, personnel_count FROM intelligence_operations WHERE operation_date >= DATE_SUB(CURRENT_DATE, INTERVAL 5 YEAR);
--------------
SELECT COUNT(*) FROM Donors WHERE region = 'South West';
--------------
SELECT ProgramName, SUM(DonationAmount) FROM Donations JOIN Programs ON Donations.ProgramID = Programs.ProgramID GROUP BY ProgramName;
--------------
SELECT AVG(DonationAmount) FROM Donations WHERE DonationDate BETWEEN '2022-01-01' AND '2022-03-01';
--------------
INSERT INTO students (student_id, district_id, mental_health_score) VALUES (1, 'Average Mental Health Score', '5');
--------------
SELECT Courses.Name FROM Courses INNER JOIN Students ON Courses.CourseID = Students.StudentID WHERE Students.GradeLevel = 12 AND Courses.OpenPedagogy = FALSE;
--------------
SELECT Department, AVG(Salary) FROM Employees WHERE HireDate >= '2022-01-01' GROUP BY Department;
--------------
SELECT COUNT(*) FROM wind_farms WHERE country = 'Canada' AND installation_year BETWEEN 2015 AND 2018;
--------------
SELECT name FROM renewable_project WHERE country = 'India' AND budget BETWEEN 50 AND 200;
--------------
SELECT AVG(price) FROM carbon_prices WHERE market = 'EU ETS' AND date >= DATE_SUB(CURRENT_DATE, INTERVAL 6 MONTH);
--------------
SELECT AVG(energy_rating) FROM energy_efficiency WHERE building_type = 'Commercial' AND location = 'Texas';
--------------
DELETE FROM oil_rig WHERE company = 'XYZ Inc.';
--------------
SELECT player, AVG(running_speed) FROM world_cup WHERE match_id = 2020 GROUP BY player;
--------------
SELECT MAX(assists) FROM season_stats WHERE player_id IN (SELECT player_id FROM player_id WHERE country = 'Europe');
--------------
SELECT SUM(points) FROM players WHERE country = 'Brazil';
--------------
SELECT organization_id, COUNT(*) as total_supplies, SUM(supply_cost) as total_cost FROM medical_supplies WHERE location = 'Country A' AND distribution_date >= DATE_SUB(CURRENT_DATE, INTERVAL 3 YEAR) GROUP BY organization_id;
--------------
SELECT COUNT(*) FROM ngos WHERE country = 'Yemen' AND name = 'NGO 1';
--------------
SELECT brand_id, COUNT(*) as num_products FROM certifications WHERE certification_name = 'Fair trade' GROUP BY brand_id ORDER BY num_products DESC LIMIT 1;
--------------
SELECT SUM(revenue) FROM Sales WHERE material = 'Organic Cotton';
--------------
SELECT name, total_transactions FROM shariah_compliant_institutions;
--------------
SELECT COUNT(*) FROM genetic_research WHERE location = 'United Kingdom' AND start_date >= DATE_SUB(CURRENT_DATE, INTERVAL 1 YEAR) AND end_date  DATE_SUB(CURRENT_DATE, INTERVAL 1 YEAR);
--------------
SELECT COUNT(*) FROM faculty WHERE department = 'Physics' AND gender = 'Female';
--------------
SELECT HotelName, AVG(Revenue) as AvgRevenue FROM Hotels INNER JOIN Bookings ON Hotels.HotelID = Bookings.HotelID WHERE Hotels.QuarterLY(Q2+Year) = 2022 GROUP BY HotelName;
--------------
SELECT MONTH(date) as month, MAX(temperature) as max_temperature FROM arctic_weather WHERE species = 'species' GROUP BY month;
--------------
SELECT Category, AVG(Reviews) as AvgReviews FROM HeritageSitesReviews GROUP BY Category;
--------------
SELECT initiative, COUNT(*) as initiative_count FROM language_preservation_by_initiative GROUP BY initiative;
--------------
SELECT patient_id FROM patients WHERE session_date >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_date = DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_date >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETDATE()) AND session_duration >= DATEADD(month, -1, GETD
--------------
SELECT therapists.name, therapists.treatment_approach FROM therapists INNER JOIN patients ON therapists.patient_id = patients.patient_id WHERE patients.condition = 'depression' AND patients.age > 50;
--------------
SELECT COUNT(*) FROM patients p JOIN treatments t ON p.patient_id = t.id WHERE p.country = 'India' AND t.treatment = 'Group Therapy';
--------------
SELECT COUNT(*) FROM Infrastructure WHERE location = 'California' AND is_public_works = TRUE;
--------------
SELECT location, AVG(completion_date) as avg_completion_time FROM public_works GROUP BY location;
--------------
SELECT gender, race, SUM(reoffender) as percentage FROM parolee WHERE year BETWEEN 2017 AND 2018 GROUP BY gender, race;
--------------
SELECT district_id, SUM(cases) as total_cases FROM restorative_justice GROUP BY district_id;
--------------
SELECT species, SUM(biomass) as total_biomass FROM biomass GROUP BY species ORDER BY depth DESC LIMIT 1;
--------------
SELECT Director, AVG(Rating) FROM DirectorMoviesRating GROUP BY Director;
--------------
SELECT AVG(rating) FROM movies WHERE country = 'USA' AND production_year BETWEEN 2010 AND 2020;
--------------
SELECT SUM(quantity) FROM GlobalDefense.AircraftSales WHERE buyer_country = 'Canada';
--------------
UPDATE resource_depletion SET resource_depletion_rate = 0.0 WHERE mine_id = 'Aquamarine Arch' AND year = 2016;
--------------
SELECT plan_name FROM mobile_plans WHERE data_limit > AVG(data_limit);
--------------
SELECT COUNT(*) FROM news WHERE region = 'region1';
--------------
SELECT AVG(word_count) FROM news WHERE category = 'Opinion';
--------------
SELECT mission_area, COUNT(*) as total_donations FROM Organizations GROUP BY mission_area;
--------------
SELECT SUM(PrizeMoney) FROM EsportsEvents JOIN Games ON EsportsEvents.EventID = Games.EventID WHERE Games.Genre = 'Simulation';
--------------
SELECT COUNT(*) FROM farm_automation WHERE automation_date >= DATE_SUB(CURRENT_DATE, INTERVAL 1 YEAR) AND country = 'Nigeria';
--------------
SELECT Region, Service, RANK() OVER (ORDER BY Service DESC) as Rank FROM HealthcareServices GROUP BY Region;
--------------
SELECT parks.park_name FROM parks INNER JOIN areas ON parks.area_id = areas.area_id WHERE areas.area_type = 'urban';
--------------
SELECT SUM(quantity) FROM production WHERE element = 'Neodymium' AND year = 2020 AND region = 'APAC';
--------------
SELECT quarter, affordability FROM portland_housing WHERE quarter = 2 AND affordability  80;
--------------
SELECT name, SUM(revenue) as total_revenue, SUM(risk_score) as risk_score FROM restaurants r JOIN menu_items mi ON r.id = mi.restaurant_id WHERE r.category = 'Fine Dining' GROUP BY name;
--------------
SELECT SUM(quantity) FROM sales WHERE product_category = 'Apparel' AND year = 2021;
--------------
SELECT source_type, MAX(size) as max_size, MIN(size) as min_size FROM space_debris GROUP BY source_type;
--------------
SELECT name, description FROM cybersecurity_policies WHERE date >= DATEADD(week, -1, GETDATE());
--------------
SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_incidents WHERE country IN (SELECT country FROM security_inci
--------------
SELECT COUNT(*) FROM multimodal_trips_canada WHERE city = 'Toronto' AND mode = 'public transportation';
--------------
SELECT unions.name FROM unions INNER JOIN injuries ON unions.id = injuries.union_id WHERE injuries.id NOT IN (SELECT union_id FROM unions);
--------------
SELECT COUNT(*) FROM Unions WHERE Sector = 'Education' AND Membership > 5000;
--------------
SELECT MAX(wage) FROM workers WHERE industry = 'retail';
--------------
SELECT AVG(travel_time) FROM VesselTravel WHERE route IN ('Valparaiso', 'Singapore') AND departure_date BETWEEN '2021-01-01' AND '2021-06-01';
--------------
SELECT COUNT(*) FROM Vessels JOIN PortCalls ON Vessels.id = PortCalls.vessel_id WHERE PortCalls.port = 'PortA' AND call_date >= DATEADD(month, -1, GETDATE()) GROUP BY Vessels.id;
--------------
SELECT region, AVG(tipping_fee) FROM Landfill_All GROUP BY region;
--------------
UPDATE wastewater_plants SET capacity = 0 WHERE name = 'Wastewater Plant';
--------------
SELECT fairness_score, ROW_NUMBER() OVER (ORDER BY fairness_score DESC) as row_number FROM CreativeAI WHERE region = 'Europe' GROUP BY fairness_score ORDER BY ROW_NUMBER() DESC;
--------------
SELECT fairness_score, a.application_name, a.region FROM CreativeAI a JOIN applications a ON a.application_name = a.application_name WHERE a.region = 'Oceania' GROUP BY fairness_score ORDER BY a.region;
--------------
SELECT AVG(safety_score) FROM creative_ai WHERE country IN ('France', 'Germany', 'Spain');
--------------
SELECT continent, AVG(satisfaction) FROM models WHERE dataset = 'datasetD' AND satisfaction = 'datasetC' GROUP BY continent;
--------------
SELECT MAX(crop_yield) FROM crop_yields WHERE region = 'South America' AND year = 2021;
--------------
SELECT name, launch_date FROM Satellite WHERE type = 'Navigation';
--------------
SELECT conservation_area, state, AVG(funding) as avg_funding_per_square_kilometer FROM north_american_conservation_areas GROUP BY conservation_area, state;
--------------
SELECT Country, Programs, SUM(Success) as TotalPrograms FROM CountryPrograms GROUP BY Country ORDER BY TotalPrograms DESC;
--------------
SELECT SUM(nutrients) FROM feeding;
--------------
SELECT AVG(Attendances.visits) FROM Attendees INNER JOIN MuseumY ON Attendees.attendee_id = MuseumY.attendee_id WHERE MuseumY.visit_date >= DATEADD(year, -1, GETDATE()) GROUP BY Attendees.attendee_id;
--------------
SELECT SongName, Streams, MAX(Streams) as MaxStreams, MIN(Streams) as MinStreams FROM Music GROUP BY SongName, Streams GROUP BY SongName, Streams HAVING Genre = 'Pop' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY SongName, Streams HAVING Genre = 'Rock' GROUP BY Song
--------------
SELECT SUM(cost) FROM construction_labor WHERE state = 'Georgia' AND job = 'Plumber';
--------------
SELECT Country, Year, SUM(Rainfall) as TotalRainfall FROM RainfallData GROUP BY Country, Year;
--------------
SELECT AVG(amount) FROM org_climate_finance WHERE region IN ('americas', 'europe');
--------------
DELETE FROM rd_expenditures WHERE amount > 100000 AND quarter = 1;
--------------
SELECT AVG(Score) FROM HealthcareAccessScore WHERE Area = 'Urban' AND Year = 2018;
--------------
SELECT COUNT(*) FROM HealthcareAccess WHERE Gender = 'Male' AND AccessDate >= DATEADD(month, -1, GETDATE());
--------------
SELECT investment_year, industry, SUM(investment_amount) FROM investments GROUP BY investment_year, industry;
--------------
UPDATE policy_advocacy_budget SET budget = 500000 WHERE community = 'Native American' AND state = 'California';
--------------
SELECT location, COUNT(*) FROM whale_sharks GROUP BY location;
--------------
SELECT country, AVG(avg_depth) FROM marine_protected_areas GROUP BY country;
--------------
SELECT SUM(transaction_count) FROM digital_assets WHERE asset_name = 'ETH' AND date = '2019-01-01';
--------------
SELECT COUNT(*) FROM MakeupSales WHERE is_vegan = true AND country = 'India' AND sale_date BETWEEN '2022-01-01' AND '2022-12-31';
--------------
SELECT SUM(revenue) FROM SkincareSales WHERE region = 'North America' AND organic = false;
--------------
SELECT MAX(ticket_sales) FROM EventData WHERE city = 'Tokyo';
--------------
SELECT Contract_Name, SUM(Value) as TotalValue FROM Defense_Contracts GROUP BY Contract_Name ORDER BY TotalValue DESC LIMIT 1;
--------------
SELECT country_id, COUNT(*) FROM peacekeeping_operations WHERE quarter = 3 AND year = 2018 GROUP BY country_id;
--------------
SELECT transaction_id, transaction_value, transaction_date FROM transactions WHERE transaction_value > 10000 GROUP BY transaction_id, transaction_date;
--------------
SELECT strategy_name, AVG(account_balance) as avg_balance FROM customers GROUP BY strategy_name;
--------------
SELECT COUNT(*) FROM accounts_by_region WHERE region = 'Northwest' AND risk_level = 'high';
--------------
SELECT p.name, AVG(c.weight) FROM vessel_cargo v JOIN ports p ON v.port_id = p.id WHERE p.type = 'Bulk Carrier' GROUP BY p.name;
--------------
SELECT port, SUM(weight) FROM cargo_handling WHERE date BETWEEN '2022-02-01' AND '2022-02-12' GROUP BY port;
--------------
SELECT AVG(salary) FROM employees e INNER JOIN factories f ON e.factory_id = f.factory_id WHERE f.certified = TRUE;
--------------
SELECT MIN(avg_age), MAX(avg_age) FROM rural_hospitals;
--------------
SELECT platform, COUNT(DISTINCT user_id) as unique_users FROM platform_users_africa GROUP BY platform;
--------------
SELECT grades.grade_name, AVG(student_mental_health.mental_health_score) as avg_mental_health_score FROM grades INNER JOIN student_mental_health ON grades.grade_id = student_mental_health.grade_id GROUP BY grades.grade_name ORDER BY avg_mental_health_score DESC LIMIT 1;
--------------
SELECT COUNT(*) FROM power_plants WHERE state = 'Texas' AND source_type = 'Wind';
--------------
SELECT MAX(capacity) FROM solar_capacity WHERE country = 'Mexico';
--------------
SELECT COUNT(*) FROM wells WHERE company = 'CompanyA';
--------------
SELECT hp.name, AVG(hp.points) as avg_points FROM hockey_players hp JOIN nhl_teams n ON hp.id = nhl_teams.player_id GROUP BY hp.name;
--------------
SELECT DISTINCT project_name FROM accessibility.research WHERE region = 'EU' AND region = 'Africa';
--------------
UPDATE students SET registration_date = '2021-10-01' WHERE name = 'Sofia Garcia';
--------------
SELECT country, AVG(price) as avg_price FROM eco_materials GROUP BY country;
--------------
SELECT Materials.material FROM Materials INNER JOIN Companies ON Materials.company_id = Companies.id WHERE Companies.region = 'Asia-Pacific';
--------------
SELECT product_name FROM shariah_compliant_products WHERE region = 'Southeast Asia';
--------------

In [12]:
references

["SELECT AVG(explainability_score) FROM creative_ai WHERE region IN ('Europe', 'North America');",
 "DELETE FROM rural_infrastructure WHERE country = 'Indonesia' AND completion_date < '2010-01-01';",
 'SELECT launch_provider, COUNT(*) FROM Accidents GROUP BY launch_provider;',
 'SELECT MAX(quantity) FROM sales;',
 'SELECT SUM(budget) FROM Movies_Release_Year WHERE release_year < 2010;',
 "INSERT INTO attorneys (attorney_name, attorney_email, attorney_phone) VALUES ('Oliver Martinez', 'oliver.martinez@lawfirm.com', '555-555-5678');",
 'SELECT plant_name, SUM(co2_emission_per_ton_produced) AS total_co2_emission FROM co2_emissions GROUP BY plant_name ORDER BY total_co2_emission DESC LIMIT 2;',
 "SELECT SUM(total_cost) FROM climate_communication WHERE location = 'Antarctica' AND end_date >= '2010-12-31';",
 'SELECT name, conservation_status FROM marine_species;',
 "SELECT organization, AVG(publications) as avg_publications FROM researchers WHERE organization = 'National Geographic';",
 "SELECT SUM(dapp_downloads) FROM dapp_ranking WHERE dapp_region = 'Asia-Pacific';",
 "SELECT forests.name FROM forests WHERE (forests.country = 'Canada' OR forests.country = 'USA') AND forests.hectares > 1000000;",
 "SELECT MAX(response_time) FROM emergency_calls WHERE city = 'Los Angeles';",
 "SELECT d.name, SUM(IF(p.type = 'Patrol', 1, 0)) as num_patrols, SUM(IF(p.type = 'Community', 1, 0)) as num_community FROM districts d JOIN patrols p ON d.id = p.district_id WHERE p.date >= '2021-01-01' AND p.date < '2021-02-01' GROUP BY d.id;",
 "SELECT AVG(value) as avg_value FROM contracts WHERE category = 'Cybersecurity';",
 'DELETE FROM arms_imports WHERE year < 2000;',
 'SELECT AVG(military_personnel) FROM Peacekeeping_Operations;',
 'SELECT client_id, MAX(investment) OVER (PARTITION BY client_id ORDER BY client_id) as max_daily_investment FROM daily_investments;',
 "SELECT P.PortName, SUM(CH.Weight) FROM PORTS P JOIN CARGO_HANDLING CH ON P.ID = CH.PortID WHERE CH.CargoType = 'Fruit' GROUP BY P.PortName;",
 'SELECT container_type, MIN(fuel_consumption) FROM container_ships WHERE year = 2016 GROUP BY container_type;',
 "SELECT county, state, AVG(prevalence) AS avg_prevalence FROM asthma WHERE age < 18 AND county LIKE '%rural%' GROUP BY county, state ORDER BY avg_prevalence DESC LIMIT 10;",
 "SELECT i.region, SUM(i.amount) FROM investments i WHERE i.sector = 'Healthcare' GROUP BY i.region;",
 'SELECT primary_objective, COUNT(*) as num_personnel FROM intelligence_operations WHERE operation_date >= DATEADD(year, -5, GETDATE()) GROUP BY primary_objective;',
 "SELECT COUNT(*) FROM Donors WHERE region = 'South West';",
 'SELECT Programs.ProgramName, SUM(Donations.DonationAmount) AS TotalDonatedAmount FROM Programs INNER JOIN DonorsPrograms ON Programs.ProgramID = DonorsPrograms.ProgramID INNER JOIN Donations ON DonorsPrograms.DonorID = Donations.DonorID GROUP BY Programs.ProgramName;',
 "SELECT DATE_FORMAT(DonationDate, '%Y-%m') as Quarter, AVG(DonationAmount) as AvgDonation FROM Donations GROUP BY Quarter ORDER BY Quarter;",
 'INSERT INTO students (student_id, district_id, mental_health_score) VALUES (12345, 6789, 75); UPDATE school_districts sd SET sd.average_mental_health_score = (SELECT AVG(s.mental_health_score) FROM students s WHERE s.district_id = sd.district_id) WHERE sd.district_id = 6789;',
 'SELECT Name FROM Courses WHERE NOT EXISTS (SELECT 1 FROM Students WHERE GradeLevel = 12 AND Courses.CourseID = Students.StudentID) AND OpenPedagogy = FALSE;',
 'SELECT Department, AVG(Salary) FROM Employees WHERE YEAR(HireDate) = 2022 GROUP BY Department;',
 "SELECT COUNT(*) FROM wind_farms WHERE country = 'Canada' AND installation_year BETWEEN 2015 AND 2018;",
 "SELECT name FROM renewable_project WHERE country = 'India' AND budget BETWEEN 50.0 AND 200.0;",
 "SELECT AVG(price) FROM carbon_prices WHERE market = 'EU ETS' AND date >= DATE_SUB(CURRENT_DATE, INTERVAL 6 MONTH) GROUP BY market;",
 "SELECT building_type, AVG(energy_rating) FROM energy_efficiency WHERE building_type = 'Commercial' AND location = 'Texas';",
 "DELETE FROM oil_rig WHERE company = 'XYZ Inc.';",
 'SELECT player, AVG(running_speed) FROM world_cup GROUP BY player;',
 "SELECT MAX(assists) FROM season_stats WHERE country IN (SELECT country FROM players WHERE players.country = season_stats.country AND country LIKE 'Europe%');",
 "SELECT SUM(points) FROM players WHERE country = 'Brazil';",
 "SELECT organization_id, location as region, COUNT(*) as number_of_supplies, SUM(supply_cost) as total_supply_cost FROM medical_supplies WHERE location = 'East Africa' AND distribution_date >= DATE_SUB(CURRENT_DATE, INTERVAL 3 YEAR) GROUP BY organization_id, location;",
 'SELECT country, SUM(project_count) FROM ngos GROUP BY country;',
 "SELECT brand_name, COUNT(*) as fair_trade_products FROM certifications JOIN brands ON certifications.brand_id = brands.brand_id WHERE certification_name = 'Fair trade' GROUP BY brand_name ORDER BY fair_trade_products DESC;",
 "SELECT SUM(revenue) FROM Sales WHERE material IN ('Organic Cotton', 'Hemp', 'Recycled Polyester', 'Tencel', 'Bamboo');",
 'SELECT name, SUM(total_transactions) FROM shariah_compliant_institutions;',
 "SELECT COUNT(*) FROM genetic_research WHERE location = 'United Kingdom' AND start_date <= '2019-12-31' AND end_date >= '2019-01-01';",
 "SELECT COUNT(*) FROM faculty f1 WHERE f1.department = 'Physics' AND f1.gender = 'Female' AND NOT EXISTS (SELECT 1 FROM research_grants rg WHERE rg.faculty_id = f1.id);",
 'SELECT H.HotelName, AVG(B.Revenue/B.Guests) as AvgRevenuePerGuest FROM Hotels H INNER JOIN Bookings B ON H.HotelID = B.HotelID WHERE MONTH(B.BookingDate) BETWEEN 5 AND 8 GROUP BY H.HotelName;',
 'SELECT MONTH(date) AS month, species, MAX(temperature) AS max_temp FROM arctic_weather WHERE YEAR(date) = 2020 GROUP BY month, species;',
 'SELECT Category, AVG(Reviews) OVER (PARTITION BY Category) AS AvgReviews FROM HeritageSitesReviews;',
 'SELECT initiative, initiative_count FROM language_preservation_by_initiative;',
 'SELECT patients.patient_id FROM patients INNER JOIN therapy_sessions ON patients.patient_id = therapy_sessions.patient_id WHERE MONTH(therapy_sessions.session_date) = 6 AND YEAR(therapy_sessions.session_date) = 2021;',
 "SELECT therapists.name, therapists.treatment_approach FROM therapists JOIN (SELECT therapist_id, COUNT(*) AS patient_count FROM patients WHERE condition = 'depression' GROUP BY therapist_id HAVING patient_count > 50) AS patient_counts ON therapists.therapist_id = patient_counts.therapist_id;",
 "SELECT COUNT(*) FROM patients INNER JOIN treatments ON patients.id = treatments.patient_id WHERE treatments.treatment = 'Group Therapy' AND patients.country = 'India';",
 "SELECT COUNT(*) as num_projects, AVG(resilience_score) as avg_resilience FROM Infrastructure WHERE location = 'California' AND is_public_works = TRUE;",
 'SELECT location, AVG(DATEDIFF(day, start_date, completion_date)) as avg_completion_time, ROW_NUMBER() OVER (PARTITION BY location ORDER BY AVG(DATEDIFF(day, start_date, completion_date)) DESC) as rn FROM public_works GROUP BY location ORDER BY avg_completion_time DESC;',
 'SELECT c.year, c.gender, c.race, COUNT(c.parolee_id) AS parolees, AVG(CAST(c.reoffender AS FLOAT)) * 100 AS reoffender_percentage FROM parolee c WHERE c.year IN (2017, 2018) GROUP BY c.year, c.gender, c.race;',
 'SELECT rj.district_id, SUM(rj.cases) AS total_cases FROM restorative_justice rj GROUP BY rj.district_id;',
 'SELECT type, SUM(biomass) total_biomass FROM biomass GROUP BY type ORDER BY total_biomass ASC;',
 'SELECT Director, AVG(Rating) as AverageRating FROM DirectorMoviesRating GROUP BY Director;',
 "SELECT AVG(rating) FROM movies WHERE production_year BETWEEN 2010 AND 2020 AND country = 'USA';",
 "SELECT SUM(quantity) FROM GlobalDefense.AircraftSales WHERE buyer_country = 'Canada' AND manufacturer = 'GlobalDefense';",
 'UPDATE resource_depletion SET resource_depletion_rate = 0.08 WHERE mine_id = 9 AND year = 2021;',
 'SELECT plan_name FROM mobile_plans WHERE data_limit > (SELECT AVG(data_limit) FROM mobile_plans);',
 "SELECT COUNT(*) FROM news WHERE region = 'region1';",
 "SELECT AVG(word_count) FROM news WHERE category = 'Opinion';",
 'SELECT mission_area, COUNT(*) FROM Organizations GROUP BY mission_area;',
 "SELECT SUM(PrizeMoney) FROM EsportsEvents JOIN Games ON EsportsEvents.GameName = Games.GameName WHERE Games.Genre = 'Simulation';",
 'SELECT COUNT(*) FROM farm_automation WHERE automation_date >= DATE_SUB(CURDATE(), INTERVAL 1 YEAR);',
 'SELECT Region, Service, ROW_NUMBER() OVER (PARTITION BY Region ORDER BY Service) AS Rank FROM HealthcareServices;',
 "SELECT p.park_name FROM parks p INNER JOIN areas a ON p.area_id = a.area_id WHERE a.area_type = 'urban';",
 "SELECT SUM(quantity) FROM production JOIN companies ON production.company_id = companies.id WHERE production.element = 'Neodymium' AND production.year = 2020 AND companies.region = 'APAC';",
 'SELECT (MAX(affordability) FILTER (WHERE year = 2021 AND quarter = 2) - MAX(affordability) FILTER (WHERE year = 2021 AND quarter = 1)) FROM portland_housing;',
 "SELECT r.name AS restaurant, mi.name AS menu_item, mi.risk_score, SUM(mi.revenue) AS total_revenue FROM restaurants r JOIN menu_items mi ON r.category = mi.category WHERE r.category = 'Fine Dining' GROUP BY r.name, mi.name, mi.risk_score;",
 "SELECT product_category, (SUM(CASE WHEN year = 2022 THEN quantity ELSE 0 END) - SUM(CASE WHEN year = 2021 THEN quantity ELSE 0 END)) as quantity_diff FROM sales WHERE product_category = 'Apparel' GROUP BY product_category;",
 'SELECT source_type, MAX(size) as max_size, MIN(size) as min_size FROM space_debris GROUP BY source_type;',
 'SELECT * FROM cybersecurity_policies WHERE date >= DATEADD(week, -1, GETDATE());',
 "SELECT DISTINCT country FROM security_incidents WHERE country IN ('France', 'Germany', 'United Kingdom');",
 "SELECT COUNT(*) FROM multimodal_trips_canada WHERE city = 'Toronto' AND mode LIKE '%public%';",
 'SELECT name FROM unions WHERE id NOT IN (SELECT union_id FROM injuries);',
 "SELECT COUNT(*) FROM Unions WHERE Sector = 'Education' GROUP BY Sector HAVING COUNT(*) > 5000;",
 "SELECT MAX(wage) FROM workers JOIN unions ON workers.union_id = unions.id WHERE industry = 'retail';",
 "SELECT route, AVG(travel_time) as avg_travel_time FROM VesselTravel WHERE route = 7 AND departure_date >= '2021-01-01' AND departure_date < '2021-07-01' GROUP BY route ORDER BY avg_travel_time ASC;",
 "SELECT COUNT(PortCalls.id) FROM PortCalls WHERE PortCalls.port = 'PortA' AND PortCalls.call_date >= '2021-03-01' AND PortCalls.call_date <= '2021-03-31';",
 'SELECT region, AVG(tipping_fee) FROM Landfill_All GROUP BY region;',
 'UPDATE wastewater_plants SET capacity = 600000 WHERE id = 1;',
 "SELECT * FROM CreativeAI WHERE region = 'Europe' ORDER BY fairness_score DESC;",
 "SELECT * FROM CreativeAI WHERE region = 'Oceania' ORDER BY fairness_score ASC;",
 "SELECT AVG(safety_score) FROM creative_ai WHERE country IN ('France', 'Germany', 'Spain');",
 "SELECT continent, AVG(m.satisfaction) - (SELECT AVG(satisfaction) FROM models m2 WHERE m.continent = m2.continent AND m2.dataset = 'datasetC') FROM models m WHERE m.dataset = 'datasetD' GROUP BY continent;",
 "SELECT MAX(crop_yield) FROM crop_yields WHERE year = 2021 AND region = 'South America';",
 "SELECT s.name, s.launch_date FROM Satellite s WHERE s.type = 'Navigation';",
 'SELECT na.name, na.state, AVG(na.funding / na.area_size) as avg_funding_per_sq_km FROM north_american_conservation_areas na GROUP BY na.name, na.state;',
 'SELECT Country, COUNT(*) FILTER (WHERE Success) * 1.0 / COUNT(*) as SuccessRate FROM CountryPrograms GROUP BY Country ORDER BY SuccessRate DESC;',
 'SELECT SUM(nutrients) FROM feeding;',
 'SELECT AVG(visits) FROM (SELECT a.attendee_id, COUNT(*) AS visits FROM MuseumY m JOIN Attendees a ON m.attendee_id = a.attendee_id WHERE m.visit_date >= DATEADD(year, -1, GETDATE()) GROUP BY a.attendee_id) AS repeat_attendees;',
 'SELECT SongName, Genre, Streams, RANK() OVER(PARTITION BY Genre ORDER BY Streams DESC) AS Rank FROM Music;',
 "SELECT SUM(cost) FROM construction_labor WHERE state = 'Georgia' AND job = 'Plumber';",
 'SELECT Country, Year, SUM(Rainfall) as TotalRainfall, RANK() OVER (PARTITION BY Year ORDER BY SUM(Rainfall) DESC) as Rank FROM RainfallData GROUP BY Country, Year;',
 "SELECT AVG(amount) FROM org_climate_finance WHERE region IN ('americas', 'europe');",
 'DELETE FROM rd_expenditures WHERE amount > 100000 AND quarter = 1 AND year = 2021',
 "SELECT Year, AVG(Score) FROM HealthcareAccessScore WHERE Area = 'Urban' GROUP BY Year;",
 "SELECT COUNT(*) FROM HealthcareAccess WHERE Gender = 'Male' AND AccessDate >= DATEADD(MONTH, -1, GETDATE()) AND State = 'Texas';",
 'SELECT investment_year, industry, SUM(investment_amount) as total_investments FROM investments GROUP BY investment_year, industry;',
 "UPDATE policy_advocacy_budget SET budget = 500000.00 WHERE community = 'Native American' AND state = 'California' AND fiscal_year = YEAR(CURDATE());",
 'SELECT location, COUNT(*) as spotted_count FROM whale_sharks GROUP BY location;',
 'SELECT country, AVG(avg_depth) FROM marine_protected_areas GROUP BY country;',
 "SELECT transaction_count FROM digital_assets WHERE asset_name = 'ETH';",
 "SELECT COUNT(*) FROM MakeupSales WHERE is_vegan = true AND country = 'India' AND sale_date BETWEEN '2022-01-01' AND '2022-03-31';",
 "SELECT SUM(revenue) FROM SkincareSales INNER JOIN ProductIngredients ON SkincareSales.productID = ProductIngredients.productID WHERE organic = false AND region = 'North America';",
 "SELECT MAX(ticket_sales) FROM EventData WHERE city = 'Tokyo';",
 'SELECT Contract_Name, Value FROM (SELECT Contract_Name, Value, ROW_NUMBER() OVER (ORDER BY Value DESC) as Rank FROM Defense_Contracts) as Ranked_Contracts WHERE Rank <= 3;',
 'SELECT c.name, COUNT(p.operation_id) as total_operations FROM country c INNER JOIN peacekeeping_operations p ON c.id = p.country_id WHERE p.year = 2018 AND p.quarter BETWEEN 3 AND 3 GROUP BY c.name;',
 'SELECT * FROM transactions WHERE transaction_value > 10000 ORDER BY transaction_date DESC;',
 'SELECT strategy_name, AVG(account_balance) FROM customers GROUP BY strategy_name;',
 "SELECT COUNT(*) FROM accounts_by_region WHERE region = 'Northwest' AND risk_level = 'high';",
 "SELECT p.name AS port_name, AVG(vc.weight) AS avg_weight FROM ports p JOIN vessels v ON p.id = v.port_id JOIN vessel_cargo vc ON v.name = vc.vessel_name WHERE v.type = 'Bulk Carrier' GROUP BY p.name;",
 "SELECT port, SUM(weight) as february_total_weight FROM cargo_handling WHERE date BETWEEN '2022-02-01' AND '2022-02-28' GROUP BY port;",
 'SELECT AVG(employees.salary) FROM factories INNER JOIN employees ON factories.factory_id = employees.factory_id WHERE factories.certified = TRUE;',
 'SELECT MIN(avg_age), MAX(avg_age) FROM rural_hospitals;',
 'SELECT platform, user_count FROM platform_users_africa;',
 'SELECT grade_id, AVG(mental_health_score) as avg_score FROM student_mental_health GROUP BY grade_id ORDER BY avg_score DESC;',
 "SELECT SUM(count) FROM power_plants WHERE state = 'Texas';",
 "SELECT MAX(capacity) FROM solar_capacity WHERE country = 'Mexico';",
 "SELECT COUNT(*) FROM wells WHERE company = 'CompanyA';",
 'SELECT position, AVG(points) FROM hockey_players JOIN nhl_teams ON hockey_players.id = nhl_teams.players_id GROUP BY position;',
 "SELECT project_name FROM accessibility.research WHERE region = 'EU' INTERSECT SELECT project_name FROM accessibility.research WHERE region = 'Africa';",
 "UPDATE students SET registration_date = '2021-10-01' WHERE name = 'Sofia Garcia';",
 'SELECT AVG(price) as avg_price, country FROM eco_materials GROUP BY country;',
 "SELECT DISTINCT Materials.material FROM Companies JOIN Materials ON Companies.id = Materials.company_id WHERE Companies.region = 'Asia-Pacific';",
 "SELECT product_name FROM shariah_compliant_products WHERE region = 'Southeast Asia';",
 'SELECT sm.customer_name, sm.account_balance FROM shariah_mortgages sm JOIN shariah_loans sl ON sm.mortgage_id = sl.mortgage_id JOIN socially_responsible_loans srl ON sm.customer_id = srl.customer_id;',
 "SELECT COUNT(*), SUM(region = 'Africa') FROM volunteers;",
 "SELECT supplier_name, country FROM FoodSuppliers WHERE country = 'India' AND delivery_incidents > 3 AND last_delivery_date >= DATE_SUB(CURRENT_DATE, INTERVAL 6 MONTH);",
 'SELECT SUM(num_initiatives) FROM open_data INNER JOIN africa_countries ON open_data.country = africa_countries.country WHERE open_data.year = 2018;',
 "SELECT d.name, d.amount FROM donors d WHERE d.city = 'Chicago' ORDER BY d.amount DESC LIMIT 3;",
 "SELECT author, SUM(cites) as total_cites FROM publications WHERE author IN (SELECT name FROM authors WHERE department = 'Mathematics') AND year BETWEEN YEAR(CURRENT_DATE) - 5 AND YEAR(CURRENT_DATE) GROUP BY author ORDER BY total_cites DESC LIMIT 3;",
 'SELECT project_name, country, capacity, AVG(capacity) OVER (PARTITION BY country) AS avg_capacity FROM renewable_energy_projects;',
 "SELECT site_name, visitor_count FROM cultural_heritage_sites WHERE country = 'Japan' ORDER BY visitor_count DESC LIMIT 5;",
 "SELECT COUNT(*) FROM tunnels WHERE state = 'WA' AND build_year > 2010;",
 "SELECT Project_Type, AVG(Resilience_Score) FROM Infrastructure_Projects WHERE Year = 2021 AND State = 'Texas' GROUP BY Project_Type;",
 "SELECT SUM(cost) FROM Infrastructure_Projects WHERE state = 'California';",
 'SELECT name, num_tools FROM justice_schemas.legal_tech_providers WHERE is_active = TRUE;',
 "DELETE FROM ocean_pollution WHERE pollution_date < (CURRENT_DATE - INTERVAL '10 years');",
 "SELECT * FROM pollution_control_projects WHERE start_date > '2015-01-01' ORDER BY budget;",
 "SELECT species, location, date FROM marine_sightings WHERE species = 'Whale Shark' AND location LIKE '%Pacific%';",
 "SELECT ocean, max_depth, min_depth FROM ocean_depths WHERE ocean = 'Arctic Ocean';",
 'SELECT release_year, COUNT(*) FROM movies GROUP BY release_year;',
 'SELECT category, item_name FROM Menu WHERE sustainability_score > 90;',
 'SELECT SUM(cost) FROM ingredients WHERE is_gluten_free = true;',
 "INSERT INTO mining_operations (operation_id, operation_name, location) VALUES (4, 'Operation E', 'Australia'); INSERT INTO water_consumption (operation_id, water_consumption_cubic_meters) VALUES (4, 500);",
 'SELECT mining_sites.name, role, COUNT(*) FROM mining_sites INNER JOIN employees ON mining_sites.id = employees.site_id GROUP BY mining_sites.name, role, location;',
 'DELETE FROM customers WHERE data_usage < 5.0;',
 "SELECT region, COUNT(*) AS total_complaints FROM complaints WHERE complaint_type IN ('Mobile', 'Broadband') GROUP BY region;",
 "DELETE FROM comments WHERE DATEDIFF('day', created_at, NOW()) < 18 * 365",
 "SELECT MIN(depth) FROM deep_sea_expeditions WHERE location = 'Atlantic Ocean';",
 "SELECT Team, SUM(Kills) AS TotalKills FROM GameStats WHERE Game = 'FPS Game' GROUP BY Team ORDER BY TotalKills DESC FETCH FIRST 2 ROWS ONLY;",
 "WITH easy_achievements AS (UPDATE player_achievements SET completed = 'true' WHERE achievement_difficulty = 'easy') SELECT * FROM easy_achievements;",
 'SELECT Region, COUNT(*) as EventCount FROM Events GROUP BY Region ORDER BY EventCount DESC LIMIT 1',
 "DELETE FROM SoilMoistureData   WHERE sensor_id = 10 AND date < '2023-02-28';",
 "SELECT (budget / total_budget) * 100 as percentage FROM budget_allocation INNER JOIN total_budget ON budget_allocation.state = total_budget.state WHERE budget_allocation.state = 'New York' AND budget_allocation.category = 'Public services';",
 'SELECT country FROM production ORDER BY production DESC LIMIT 3;',
 "SELECT COUNT(*) FROM properties WHERE city = 'Austin' AND listing_price < 400000 AND sustainable = true;",
 "SELECT AVG(Property_Value) FROM Property_Value_History pvh JOIN Property_Details pd ON pvh.Property_ID = pd.Property_ID WHERE Underrepresented = 'Yes';",
 'SELECT country, COUNT(*) FROM wind_projects_2 WHERE completion_year IN (2019, 2020) GROUP BY country;',

In [13]:
import evaluate

In [14]:
# Tính BLEU
bleu = evaluate.load("bleu")
results = bleu.compute(predictions=extracted_sqls_with_context, references=references)

print(results)

Downloading builder script:   0%|          | 0.00/5.94k [00:00<?, ?B/s]

Downloading extra modules:   0%|          | 0.00/1.55k [00:00<?, ?B/s]

Downloading extra modules:   0%|          | 0.00/3.34k [00:00<?, ?B/s]

{'bleu': 0.507682326324316, 'precisions': [0.7008027976819882, 0.5625887219149248, 0.4793407834700884, 0.4085876227509392], 'brevity_penalty': 0.9630812675295849, 'length_ratio': 0.9637462923638351, 'translation_length': 169283, 'reference_length': 175651}